.Pageheader {
    text-align: left;
    color: white;
    padding-left: 0%;
    padding: 55px;
    padding-right:0%;
    width: 100%;
    background: linear-gradient(135deg, #1E3A8A 0%, #2563EB 100%);
    
}

/*

 background-color: lightskyblue;
 background-color: cornflowerblue;

 */